/* utillizado no hr */
.separador{
    background-color: #A9A9A9;
    height: 1px;
    margin-top: 0px;
}
/* utillizado quando o botão for apensar um glyph */
.btn-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.ui-alert-message{
    color: #FFEBCD;
    text-align: justify;
    font-size: 1.1em;
}

.alert-danger{
    background-color: #FF0000 ;
    color: #FFE4C4;
    font-weight: bold;
    font-family: verdana,helvetica, sans-serif, arial;
}
.alert-success{
    background-color: #32CD32 ;
    color: #FFE4C4;
    font-weight: bold;
    font-family: verdana,helvetica, sans-serif, arial;
}
.alert-info{
    background-color: #0033FF ;
    color: #FFE4C4;
    font-weight: bold;
    font-family: verdana,helvetica, sans-serif, arial;
}
.alert-warning{
    background-color: #FFA500 ;
    color: #FFE4C4;
    font-weight: bold;
    font-family: verdana,helvetica, sans-serif, arial;
}

a{
    text-decoration:none;
    color:#000000;
}

a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}