
<html lang="en" ng-app="listaTelefonica">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

        <title>Phonebook</title>

        <!-- ## IMPORTS -->
        <script type="text/javascript" src="../js/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="../js/plugins/jquery.maskedinput.min.js" ></script>
        <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="../css/app.css">
        <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="../js/app.js" ></script>
        <script type="text/javascript" src="../js/directives/uiAlertDir.js" ></script>
        <script type="text/javascript" src="../js/directives/maskDir.js" ></script>
        <script type="text/javascript" src="../js/controllers/listaTelefonicaController.js" ></script>
        <!-- ## IMPORTS -->
    </head>
    <body ng-controller="listaTelefonicaController">
        <div class="container-fluid" >
            <div id="topbar" ng-include="'layout/topbar.html'" ></div>
        </div>
        <div class="container-fluid " >
            <div ng-if="contacts.length>0" class="row">
                <div class="panel panel-default">
                    <div class="panel-heading" ><h4>Contact list</h4></div>
                    <div class="panel-body" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-search"></span>

                            </span>
                            <input class="form-control" type="text" placeholder="Search" ng-model="searchCriterion" >
                        </div>
                        <table class="table table-striped" >
                            <tr>
                                <th></th>
                                <th><a href="" ng-click="sortingBy('name')">Name</a></th>
                                <th><a href="" ng-click="sortingBy('phone')">Phone</a></th>
                                <th><a href="" ng-click="sortingBy('operator.description')">Operator</a></th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat="contact in contacts | filter:searchCriterion | orderBy:ordinationCriterion:direction">
                                <!--<td ng-repeat="(key, value) in contact" >
                                    {{value}}
                                </td>-->
                                <td><span class="glyphicon glyphicon-user" ></span></td>
                                <td>{{contact.name}}</td>
                                <td>{{contact.phone}}</td>
                                <div class="btn-group btn-group-justified" role="group">
                                    <td>{{contact.operator.description}}</td>
                                </div>
                                <td>
                                    <div class="btn-group" >
                                        <button alt="remove" title="Remove contact" class="btn btn-default btn-icon" ng-click="removeContact(contact);" >
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container-fluid" >
                <div class="row">
                    <form name="contactForm" >
                        <ui-message class="alert alert-warning" ng-show="!contacts.length>0" >
                            <span class="glyphicon glyphicon-alert"></span> Lista vazia.
                        </ui-message>
                        <fieldset>
                            <legend>Post contact</legend>
                            <ui-message class="alert alert-danger" ng-show="contactForm.$invalid" >
                                <span class="glyphicon glyphicon-exclamation-sign"></span> Preencha todos os campos obrigatórios corretamente.
                            </ui-message>
                            <div class="form-group col-md-6 col-sm-4 col-xs-12" >
                                <label for="name" >Name: </label>
                                <input id="name" name="name" class="form-control" type="text"
                                    ng-model="contact.name" ng-required="true" ng-minlength="8" />
                            </div>
                            <div class="form-group col-md-3 col-sm-4 col-xs-6" >
                                <label for="phone" >Phone: </label>
                                <input id="phone" name="phone" class="form-control" type="text"
                                    ng-model="contact.phone" ng-required="true" mask="(99) 99999-9999" />
                            </div>
                            <div class="form-group col-md-3 col-sm-4 col-xs-6">
                                <label for="operator" >Operator: </label>
                                <select id="operator" name="operator" class="form-control" ng-model="contact.operator"
                                        ng-options="operator.description group by operator.category for operator in operators" ng-required="true">
                                    <option value="" >Selecione uma operadora</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                    <div class="row" >
                        <div class="container-fluid" >
                            <div class="form-group btn-group pull-right">
                                <button id="addButton" class="btn btn-primary" ng-click="addContact(contact);" ng-disabled="contactForm.$invalid" >
                                    <span class="glyphicon glyphicon-plus" ></span> Add Contact
                                </button>
                                <button class="btn btn-default" ng-click="cleanView();" >
                                    <span class="glyphicon glyphicon-refresh" ></span> Limpar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="container-fluid" >
                    <div class="btn-group pull-right" >
                        <form id="pageButtons" >
                            <button class="btn btn-primary"  >
                                <span class="glyphicon glyphicon-ok" ></span>  Concluir
                            </button>
                            <button class="btn btn-danger" ng-click="cancel()" >
                                <span class="glyphicon glyphicon-remove" ></span> Cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer" ng-include="'layout/footer.html'" ></div>
        </div>
    </body>
</html>